<footer class="footer">
  <div class="wrap">
      <div class="tc">
          <div class="social social--footer">
              <div class="social__item">
                  <a href="https://www.linkedin.com/in/madflip/" class="social__link" target="_blank">
                      <span>
                          <img src="assets/img/icon-linkedin.svg" alt="linkedin">
                      </span>
                  </a>
              </div>
              <div class="social__item">
                    <a href="https://www.facebook.com/nikolayc" class="social__link" target="_blank">
                        <span>
                            <img src="assets/img/icon-fb.svg" alt="email">
                        </span>
                    </a>
                </div>
                <div class="social__item">
                        <a href="mailto:m.chernyshevskyi@gmail.com" class="social__link" target="_blank">
                            <span>
                                <img src="assets/img/icon-email.svg" alt="email">
                            </span>
                        </a>
                    </div>
              <!-- <div class="social__item">
                  <a href="https://github.com/MadFlip" class="social__link" target="_blank">
                      <span>
                          <img src="assets/img/icon-git.svg" alt="github">
                      </span>
                  </a>
              </div> -->
          </div>
          <p class="copyright">Handcrafted by me © MYKOLA CHERNYSHEVSKYI</p>
      </div>
  </div>
</footer>