$font-family: 'Montserrat', sans-serif;
$font-size-base: 14px !default;
$font-size-large: ceil(($font-size-base * 1.285)) !default; // ~18px
$font-size-small: ceil(($font-size-base * 0.857)) !default; // ~12px

$font-size-h1: floor(($font-size-base * 3)) !default; // ~42px
$font-size-h2: floor(($font-size-base * 2.57)) !default; // ~36px
$font-size-h3: floor(($font-size-base * 2.29)) !default; // 32px
$font-size-h4: floor(($font-size-base * 1.71)) !default; // 24px
$font-size-h5: floor(($font-size-base * 1.285)) !default; // ~18px
$font-size-h6: floor(($font-size-base)) !default; // ~14px

$primary-cl: #66FFF6;
$grey-cl: #E6E6E6;
$light-cl: #E8E8E8;
$black-cl: #000;
